@import 'src/components/ApplicationButton/Button.module.scss';

.passwordExpire {
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        @media screen and (max-height: 500px) {
            height: 115vh;
        }
    }

    .containerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 448px;
        height: 926px;
        top: calc(55% - 463px);
    }

    .image {
        position: absolute;
        width: 204px;
        overflow: hidden;
        top: calc(50% - 296px);
    }

    .expiryText {
        position: absolute;
        font-weight: 700;
        font-size: 20px;
        color: var(--primaryColor);
        top: 285px;
    }

    .formBox {
        position: absolute;
        top: 320px;
        width: 78%;

        @media screen and (max-width: 350px) {
            width: 55%;
        }
    }

    .passwordText {
        font-weight: 500;
        font-size: 16px;
        color: var(--primaryColor);
    }

    .spaceBetweenText {
        margin-top: 1rem
    }

    .iconColor {
        color: var(--primaryColor);
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.7rem;
    }

    .errorText {
        color: var(--errorColor);
        font-weight: 500;
        font-size: 1rem;
    }

    .loader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }

    .loaderColor {
        color: var(--activeColor);
    }

    .nextButton {
        @extend .button;
    }
}