.et2 .ffInter {
    font-family: var(--fontInter);
}

.et2 .fs20 {
    font-size: 20px;
}

.et2 .fs24-px {
    font-size: 24px;
}

.et2 .fsRem09 {
    font-size: 0.9rem;
}

.et2 .tDUnderline {
    text-decoration: underline;
}

.et2 .tTCapitalize {
    text-transform: capitalize;
}

.et2 .fs18 {
    font-size: 18px;
}

.et2 .fs16 {
    font-size: 16px;
}

.et2 .fs14-px {
    font-size: 14px;
}

.et2 .fsRem1 {
    font-size: 1rem;
}

.et2 .fs15-px {
    font-size: 15px;
}

.et2 .fW700 {
    font-weight: 700;
}

.et2 .fW400 {
    font-weight: 400;
}

.et2 .fW500 {
    font-weight: 500;
}

.et2 .lineHeightNormal {
    line-height: normal;
}

.et2 .fontStyleNormal{
    font-style: normal;
}