.et2 .mt45 {
    margin-top: 46px;
}

.et2 .mtRem1 {
    margin-top: 1rem;
}

.et2 .mtRem2 {
    margin-top: 1.1rem;
}

.et2 .mt10-px {
    margin-top: 10px;
}

.et2 .margin-top-2px {
    margin-top: 2px;
}

.et2 .margin-bottom-2px {
    margin-bottom: 2px;
}

.et2 .mr-02rem {
    margin-right: 0.2rem;
}

.et2 .mt-5perctange {
    margin-top: 5%;
}

.et2 .mlPx5 {
    margin-left: 5px;
}

.et2 .leftMargin13px {
    margin-left: -13px;
}

.et2 .leftMargin8px {
    margin-left: 8px;
}

.et2 .mbPx2-75 {
    margin-bottom: 2.75px;
}

.et2 .mt-07rem {
    margin-top: 0.7rem;
}

.et2 .mt8 {
    margin-top: 8px;
}
