.et2 .mt45 {
    margin-top: 46px;
}

.et2 .mtRem1 {
    margin-top: 1rem;
}

.et2 .mtRem2 {
    margin-top: 1.1rem;
}

.et2 .mt10-px {
    margin-top: 10px;
}

.et2 .margin-top-2px {
    margin-top: 2px;
}

.et2 .margin-bottom-2px {
    margin-bottom: 2px;
}

.et2 .mr-02rem {
    margin-right: 0.2rem;
}

.et2 .mt-5perctange {
    margin-top: 5%;
}

.et2 .margin-top-6px {
    margin-top: 6px;
}

.et2 .mlPx5 {
    margin-left: 5px;
}

.et2 .leftMargin13px {
    margin-left: -13px;
}

.et2 .leftMargin8px {
    margin-left: 8px;
}

.et2 .mbPx2-75 {
    margin-bottom: 2.75px;
}

.et2 .marginBottom-1px {
    margin-bottom: 1px;
}

.et2 .mt-07rem {
    margin-top: 0.7rem;
}

.et2 .mt8 {
    margin-top: 8px;
}

.et2 .padding0 {
    padding: 0px;
}

.et2 .paddingleft-4px {
    padding-left: 4px;
}

.et2 .leftVar55 {
    left: calc(50% - 102px);
}

.et2 .top277-px {
    top: 277px;
}

.et2 .top285 {
    top: 285px;
}

.et2 .top319-px {
    top: 319px;
}

.et2 .top327 {
    top: 327px;
}

.et2 .top177-px {
    top: 177px;
}

.et2 .top350 {
    top: 350px;
}

.et2 .top316-px {
    top: 316px;
}

.et2 .top461 {
    top: 461px;
}

.et2 .top470 {
    top: 490px;
}

.et2 .top573-px {
    top: 573px;
}

.et2 .top156 {
    top: 156px;
}

.et2 .top208 {
    top: 208px;
}

.et2 .top215-px {
    top: 215px;
}

.et2 .top19Rem {
    top: 330px;
}

.et2 .top320-px {
    top: 320px;
}

.et2 .top310-px {
    top: 310px;
}

.et2 .top355-px {
    top: 355px;
}

.et2 .topVar50 {
    top: calc(50% - 296px);
}

.et2 .topVar55 {
    top: calc(55% - 463px);
}

.et2 .topVar52 {
    top: calc(52% - 463px);
}

.et2 .topVar60 {
    top: calc(60% - 463px);
}

.et2 .top92 {
    top: 92%;
}

.et2 .topVar40 {
    top: calc(40% - 296px);
}

.et2 .topVar42 {
    top: calc(42% - 350px);
}

.et2 .top75-px {
    top: 75px;
}

.et2 .bottom0 {
    bottom: 0;
}

.et2 .left0 {
    left: 0;
}

.et2 .left-16px {
    left: 16px;
}

.et2 .left-76px {
    left: 76px;
}

.et2 .left-60px {
    left: 60px;
}

.et2 .right0 {
    right: 0;
}

.et2 .right-14px {
    right: 14px;
}

.et2 .borderRadius-7px {
    border-radius: var(--borderRadius);
}

.et2 .border-2px {
    border: '2px solid rgba(14, 64, 74, 0.10)';
}

.et2 .borderForNav-7px {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.et2 .borderShadow-0px {
    box-shadow: '0px 3px 8px 0px rgba(0, 0, 0, 0.08)';
}