.et2 .width204 {
    width: 204px;
}

.et2 .width100Per {
    width: 100%;
}

.et2 .widthPer78 {
    width: 78%;
}

.et2 .widthPer90 {
    width: 90%;
}

.et2 .width428 {
    width: 448px;
}

.et2 .width204 {
    width: 204px;
}

.et2 .width295-px {
    width: 295px;
}

.et2 .width300-px {
    width: 300px;
}

.et2 .width40-px {
    width: 40px;
}

.et2 .width362-px {
    width: 362px;
}

.et2 .width347-px {
    width: 3427px;
}

.et2 .minWidth-40px {
    min-width: 40px;
}

.et2 .height40-px {
    height: 40px;
}

.et2 .height56 {
    height: 56px;
}

.et2 .height54 {
    height: 54px;
}

.et2 .heightRem53 {
    height: 53rem;
}

.et2 .viewHeight98 {
    height: 98vh;
}

.et2 .viewHeight100 {
    height: 100vh;
}

.et2 .min-view-height-100vh {
    min-height: 100vh;
}

.et2 .height-100per {
    height: 100%;
}

.et2 .height926 {
    height: 926px;
}
