.alert {
    border-width: 1px;
    border-style: solid;
    padding-left: 123px;
    background-color: var(--paper) !important;
    color: var(--primaryColor) !important;  
  }


  .error {
    @extend .alert;
    border-color: $errorColor;
  }

  .warning {
    @extend .alert;
    border-color: $warningColor;
  }

  .success {
    @extend .alert;
    border-color: $successColor;
  }

.warningAmberIcon{
    color: $warningColor;
}

.checkCircleIcon {
    color: $successColor;
}
.errorIcon {
    color: $errorColor;
}