@import 'src/components/ApplicationButton/Button.module.scss';

.resetPassword {
    .container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        overflow-x: hidden;

        @media screen and (max-height: 500px) {
            top: 10%;
        }

        @media screen and (max-width: 600px) {
            position: relative;
        }
    }

    .containerBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 428px;
        top: calc(52% - 463px);

        @media screen and (max-height: 500px) {
            margin-top: 42px;

        }

    }

    .typographyText {
        position: absolute;
        font-weight: 700;
        font-size: 20px;
        color: var(--primaryColor);
        top: 277px;
    }

    .formBox {
        position: absolute;
        top: 310px;
        width: 78%;

        @media screen and (max-width: 350px) {
            width: 55%;
        }
    }

    .resetMessageText {
        font-weight: 500;
        font-size: 16px;
        color: var(--primaryColor);
    }

    .iconColor {
        color: var(--primaryColor);
    }

    .resendLinkText{
        color: var(--primaryColor);
        font-size: 18px;
        font-weight: 400;
    }

    .resendLink{
        font-weight: 400;
        margin-left: 5px;
        margin-bottom: 2.75px;
        font-size: 18px;
        color: var(--activeColor);
    }
    
    .dynamicLinkBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .image {
        top: 156px;
    }

    .spaceBetweenFields {
        margin-top: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.7rem;
    }

    .errorText {
        color: var(--errorColor);
        font-weight: 500;
        font-size: 1rem;
    }

    .backArrowBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 428px;
        padding-left: 23px;
    }

    .arrowButton {
        padding: 4px 4px 0;
        width: 380px;
        @media screen and (max-width: 350px) {
            width: 63%;
            padding-left: 0px;
        }
    }

    .backArrow {
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .spaceBetweenBox {
        margin-top: 1rem
    }

    .iconButton {
        color: var(--primaryColor);
    }

    .loaderBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .loader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }

    .loaderColor {
        color: var(--activeColor);
    }

    .confirmButton {
        @extend .button;
    }

}