$paddingVertical: 8px;
$borderSize: 1px;
$paddingHorizontal: 20px;
$cellHeight: 52px;

.timeOfRequestDetail {
    .itemColor {
        color: var(--primaryColor);
    }

    .marginBetweenGrids {
        margin-top: 6px;
    }

    .item {
        padding-left: 18px;
        padding-top: 2px;
        @extend .itemColor;
    }

    .dayKey {
        @extend .itemColor;
        padding-left: 18px;
    }

    .dayValue {
        @extend .itemColor;
    }

    .payCode1Key {
        @extend .itemColor;
    }

    .payCode1Value {
        @extend .itemColor;
    }

    .payCode2Key {
        @extend .itemColor;
    }

    .processStatusKey {
        @extend .itemColor;
        padding-left: 18px;
    }

    .processStatusValue {
        @extend .itemColor;
    }

    .reviewStatusKey {
        @extend .itemColor;
        padding-left: 18px;
    }

    .chipItem {
        @extend .itemColor;
    }

    .itemFont {
        font-weight: 400;
        font-size: 16px;
    }

    .approved {
        color: var(--paper);
        border-radius: 3px;
        font-size: 16px;
    }

    .label {
        display: flex;
        align-items: center;
        padding-left: 17px;
        @extend .itemColor;
        @extend .itemFont;
    }

    .durationlabel {
        display: flex;
        align-items: center;
        @extend .itemColor;
        @extend .itemFont;
    }

    .mainContainer {
        border-bottom: $borderGridThinerLine;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .expandMoreExpandLessIconColor {
        color: var(--primaryColor);
    }

    .expandedItemSeprator {
        border-bottom: $borderGridThickerLine;
    }

    .marginAtLastGrid {
        margin-bottom: 10px;
    }

    .marginAtTopGrid {
        margin-top: 6px;
    }

    .typographyHeading {
        font-weight: 300;
        font-size: 16px;
    }

    .typographyValue {
        font-weight: 400;
        font-size: 16px;
        margin-right: 2px;
    }
    .lastGridItem {
        display: flex;
        justify-content: flex-end;
    }

}