.et2 .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
  background-color: var(--activeColor);
}

#avatarLarge {
  color: var(--primaryColor);
  font-family: var(----fontInter);
  font-weight: 700;
  font-size: 30px;
  width: 72px;
  height: 72px;
}