@import 'src/components/ApplicationButton/Button.module.scss';
 
.forgotCredentials {
    .container {
        height: calc(100vh - 75px);
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
 
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 448px;
        top: calc(55% - 463px);
        height: 926px;
    }
 
    .logo {
        top: calc(50% - 296px);
    }
 
    .boxForm {
        max-width: 350px;
        padding-right: 1%;
        padding-left: 1%;
        position: absolute;
        top: 38%;
        width: 100%;
 
        @media screen and (max-width: 350px) {
            width: 55%;
        }
    }
 
    .backArrowButtonBox {
        display: flex;
        justify-content: center;
    }
 
    .backArrow {
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .spaceBetweenFields {
        margin-top: 1rem;
    }
 
    .boxLoader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }
 
    .loader {
        color: var(--activeColor);
    }
 
    .headerText {
        position: absolute;
        font-size: 20px;
        font-weight: 700;
        color: var(--primaryColor);
        top: 31%;
 
    }
 
    .messageText {
        position: absolute;
        font-weight: 500;
        font-size: 16px;
        top: 319px;
        color: var(--primaryColor);
 
    }
 
    .resendLinkText {
        color: var(--primaryColor);
        margin-right: 0.2rem;
        font-size: 18px;
        font-weight: 400;
    }
 
    .resendLink {
        color: var(--activeColor);
        font-weight: 400;
        margin-left: 5px;
        font-size: 18px;
    }
 
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.7rem;
    }
 
    .successfullMessage {
        color: var(--primaryColor);
        font-weight: 500;
        font-size: 1rem;
    }
 
    .errorText {
        color: var(--errorColor);
        font-weight: 500;
        font-size: 1rem;
    }
 
    .linkColorSuccess {
        color: var(--activeColor) !important;
    }
 
    .linkColorPrimary {
        color: var(--primaryColor) !important;
    }
 
    .backIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 428px;
    }
 
    .backIconForm {
        padding: 4px 4px 0;
        width: 380px;
    }
 
    .backIconButton {
        color: var(--primaryColor);
    }
 
    .backIconArrow {
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
 
    .nextButton {
        @extend .button;
    }
 
}
