$cancelButtonHeight :42px;


.dialogBodyContainer {
    .dialogBodyText {
        font-size: 16px;
        font-weight: 400;
        padding-left: 25px;
        padding-right: 3px;
        color: var(--primaryColor);
    }
}

.dialogHeaderContainer {
    .dialogHeadingClass {
        font-weight: 700;
        color: var(--primaryColor);
        font-size: 18px;
    }
}

.dialogBody {
    margin: 15px !important
}

.actionButtonContainer {
    display: flex !important;
    flex-direction: row !important;
    padding: 0px !important;

    .dialogButtons {
        height: $cancelButtonHeight;
        text-transform: var(--textTransform);
        font-family: var(--fontInter);
        border-radius: var(--borderRadius);
    }

    .cancelButton {
        @extend .dialogButtons;
        border-color: var(--primaryColor);
        color: var(--primaryColor);
        border: $outlinedButtonBorder;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 10px;

        &:hover {
            border: $outlinedButtonBorder;
        }
    }

    .deleteButton {
        @extend .dialogButtons;
        border-color: var(--errorColor) !important;
        background-color: var(--errorColor);
        margin-bottom: 8px;
        margin-right: 8px;

        &:hover {
            background-color: var(--errorColor);
            border: $outlinedButtonBorder;
        }

        &:active {
            background-color: var(--errorColor);
        }

    }
}