.accordianDetail {
    display: flex;
    justify-content: center;
  }

  .dateHeading {
    font-weight: 500;
    color: var(--primaryColor);
    font-size: 16px;
  }

  .timeHeading {
    font-weight: 700;
    font-size: 36px;
    color: var(--primaryColor);
  }