.headerTitle {
    font-size: 19px;
    font-weight: 700 !important;
    line-height: 22.99px;
    color: var(--primaryColor);
    opacity: 1;
  }

  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }