@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: var(--fontInter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--scrollBarColor);
}